IdleCombos.ahk.bak
*.exe

# SETTINGS
idlecombosettings.json
userdetails.json
advdefs.json

# LOGS
idlecombolog.txt
eos_loader_log.txt
blacksmithlog.json
chestopenlog.json
journal.json
redeemcodelog.json

# VSCOODE
.vscode/settings.json